FORMAT: 1A
HOST: https://tocallapp.com/

# TOCALL.app

An API to query the best time(s) to call a phone number.

## Phone [/api/v1/phone/{phone_number}]

+ Model (application/json)
    + Body

        {
            "id": "95337de3-9c43-436a-b440-f12530a5335c",
            "date_time": "2015-12-01T08:40:51",
            "data": {
                "from": {
                    "timezones": [
                        "America/Los_Angeles"
                    ]
                },
                "to": {
                    "number": "+64211111111",
                    "timezones": [
                        "Pacific/Auckland"
                    ]
                },
                "time": {
                    "next": {
                        "from": "2016-01-20T13:00:00+13:00",
                        "to": "2016-01-20T08:00:00+08:00"
                    }
                }
            }
        }


### Get Next Best Time  [GET]

By default, the `from` will be a ISO 8601 Timestamp of current API time in UTC

+ Parameters
  + from (string) ... The phone number or IOS 8601 Timestamp of the originating caller

+ Response 200 (application/json)

    [Phone][]

### Send a Time to (or not to) Call: Time Range [POST]

Send preferred times in a range to help the system learn.

+ Request (application/json)

        {
            "time": {
                "best": true,
                "range": ["08:00:00", "20:00:00"],
                "day_of_week": ["Monday"],
                "timezone": "America/Los_Angeles"
            }
        }

+ Response 201 (application/json)

    [Phone][]
    

### Send a Time to (or not to) Call: Single Time [POST]

Send preferred time to help the system learn.

+ Request (application/json)

        {
            "time": {
                "best": false,itiv
                "time": "08:00:00",
                "day_of_week": ["Monday"],
                "timezone": "America/Los_Angeles"
            }
        }

+ Response 201 (application/json)

    [Phone][]
    
    
## Phone Times [/api/v1/phone/{phone_number}/times]

+ Model (application/json)
    + Body

        {
            "id": "95337de3-9c43-436a-b440-f12530a5335c",
            "date_time": "2015-12-01T08:40:51",
            "data": {
                "from": {
                    "number": "+6421519711",
                    "timezones": [
                        "Pacific/Auckland"
                    ]
                },
                "to": {
                    "number": "+8675527806351",
                    "timezones": [
                        "Asia/Shanghai"
                    ]
                },
                "times": {
                    "next": {
                        "from": "2016-01-20T13:00:00+13:00",
                        "to": "2016-01-20T08:00:00+08:00"
                    },
                    "all": [
                        {
                            "from": "2016-01-20T13:00:00+13:00",
                            "to": "2016-01-20T08:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T14:00:00+13:00",
                            "to": "2016-01-20T09:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T15:00:00+13:00",
                            "to": "2016-01-20T10:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T16:00:00+13:00",
                            "to": "2016-01-20T11:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T17:00:00+13:00",
                            "to": "2016-01-20T12:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T18:00:00+13:00",
                            "to": "2016-01-20T13:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T19:00:00+13:00",
                            "to": "2016-01-20T14:00:00+08:00"
                        },
                        {
                            "from": "2016-01-20T20:00:00+13:00",
                            "to": "2016-01-20T15:00:00+08:00"
                        }
                    ]
               }
            }
        }


### Get Available Times  [GET]

By default, the `from` will be a ISO 8601 Timestamp of current API time in UTC

+ Parameters
  + from (string) ... The phone number or IOS 8601 Timestamp of the originating caller

+ Response 200 (application/json)

    [Phone][]